body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.email-box {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.email-header {
    margin-bottom: 10px;
}

.email-body {
    display: flex;
    justify-content: space-between;
}

.original-content, .evaluation {
    width: 48%;
    padding: 5px;
}

.original-content {
    font-style: italic;
}

.log-container {
    background-color: black;
    color: #ffaa43;
    font-family: monospace;
    overflow-y: auto;
    height: 100px; /* Adjust height as needed */
    padding: 15px;
    white-space: pre-line;
    border-radius: 5px; /* Rounded corners like email-box */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow effect similar to email-box */
    margin-bottom: 20px; /* Consistent spacing with other elements */
}

/* Additional styling if needed */
