<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malicious Mail LLM Evaluation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Malicious Mail LLM Evaluation</h1>
    <div class="container">
        <div id="log" class="log-container"></div>
        <div id="results"></div>
        <button id="resetBtn" class="reset-button">Reset Database</button>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
