<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malicious Mail LLM Evaluation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Malicious Mail LLM Evaluation</h1>
    <div class="container">
        <div id="log" class="log-container"></div>
        <div id="results"></div>
    </div>

    <script>
        function fetchResults() {
        fetch('/get-results')
            .then(response => response.json())
            .then(data => {
                const resultsContainer = document.getElementById('results');
                resultsContainer.innerHTML = ''; // Clear existing content
                data.forEach(email => {
                    const emailDiv = document.createElement('div');
                    emailDiv.className = 'email-box';
                    emailDiv.innerHTML = `
                        <h2 class="email-subject">${email.subject}</h2>
                        <div class="email-header">
                            <span><b>Sender:</b> ${email.sender}</span> |
                            <span><b>Email:</b> ${email.sender_address}</span> |
                            <span><b>Timestamp:</b> ${email.timestamp}</span>
                        </div>
                        <div class="email-body">
                            <div class="original-content">
                                <h3>Original Content</h3>
                                <p style="font-style: italic;">${email.content}</p>
                            </div>
                            <div class="evaluation">
                                <h3>Evaluation</h3>
                                <p>${email.evaluation}</p>
                            </div>
                        </div>
                    `;
                    if (resultsContainer.firstChild) {
                        resultsContainer.insertBefore(emailDiv, resultsContainer.firstChild);
                    } else {
                        resultsContainer.appendChild(emailDiv);
                    }
                });
            });
    }

        
        function fetchLog() {
        fetch('/get-log')
            .then(response => response.text())
            .then(text => {
                const logContainer = document.getElementById('log');
                logContainer.textContent = text;
                logContainer.scrollTop = logContainer.scrollHeight;
            });
        }

        setInterval(fetchResults, 5000);
        setInterval(fetchLog, 100);
    </script>
</body>
</html>
